<mat-card class="container">
  <mat-card-title class="title">
    <mat-icon (click)="navigateLeft()" class="left">keyboard_arrow_left</mat-icon>
    <div>D3</div>
    <mat-icon (click)="navigateRight()" class="right">keyboard_arrow_right</mat-icon>
  </mat-card-title>
  <mat-card-content id="delivery" #delivery>
    <div id="chartAndDataContainer">
      <div id="chartContainer">
<!--        <app-area-chart #areaChart [data]="chartData"></app-area-chart>-->
        <div id="d3_chart"></div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
